    body {
        background-color: rgb(133, 110, 110);
    }
    
    .oops {
        margin: 10px;
        padding: 225px;
        background-color: rgb(5, 5, 5);
        color: #fff;
        width: 75%;
        height: 35px;
        text-align: center;
        font-size: 225%;
        border-radius: 60px;
    }
    
    .oops input {
        padding: -5px;
        height: 35px;
        width: 240px;
        border: 1px solid rgb(20, 223, 54);
        font-size: large;
        position: relative;
        border-radius: 10px;
    }
    
    .oops button {
        height: 41px;
        width: 140px;
        border: 1px solid rgb(20, 223, 54);
        border-radius: 10px;
        position: relative;
    }
